:root {
    --primary-color: #121212;
    --secondary-color: #222222;
    --third-color: #444444;
    --font-color: #fff;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.centerbox {
    width: 90vw;
    height: 85vh;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.centerbox > .heading {
    text-align: center;
    padding: 4vh;
    margin: 2vh;
    font-size: 2rem;
    background-color: var(--third-color);
    box-shadow: 4px 4px 2px 2px var(--primary-color);
}

.centerbox > .container {
    background-color: var(--third-color);
    margin: 2vh;
    height: 80%;
    box-shadow: 4px 4px 2px 2px var(--primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-gap: 10px;
    padding: 10px;
    overflow: auto;
}

.centerbox > .container > .grid-item {
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 1px 1px black;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerbox > .container > .grid-item:hover {
    background-color: var(--primary-color);
    cursor: grab;
}

.header {
    width: 90vw;
    margin-bottom: 2vh;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 2px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--primary-color); 
}

::-webkit-scrollbar-thumb {
    background: grey; 
}

::-moz-selection {
    background: cornflowerblue;
}

::selection {
    background: cornflowerblue;
}